@use "../../../../styles/_mixins.scss" as mixins;
@use "../../../../styles/_typography.scss" as typography;
@use "../../../../styles/_globals.scss" as globals;


.itinerary__element {
  @include mixins.flex-center;
  flex-direction: column;
  flex: 1;
  gap: globals.$gap-general-005;

  .itinerary__element__icon {
    display: flex;
    position: relative;
    width: 4dvw;
    height: 4dvw;
    align-self: flex-start;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  };

  .itinerary__element__title {
    width: 100%;
    p{
      @include typography.desktop-title-h4;
      color: globals.$senda-color-black-100;
      text-align: left;
    }
  };

  .itinerary__element__copy {
    width: 100%;
    p{
      @include typography.desktop-copy-c1;
      color: globals.$senda-color-black-100;
      text-align: left;
    }
  };
};