@use "../../styles/_mixins.scss" as mixins;
@use "../../styles/_typography.scss" as typography;
@use "../../styles/_globals.scss" as globals;

img {
  display: none;
};

#about {
  @include mixins.flex-center;
  flex-direction: column;  
  min-height: 100dvh;
};

.about__hero {
  @include mixins.flex-center;
  padding: globals.$padding-general-100;
  height: 80dvh;
  .about__hero__container {

    .about__hero__text {
      @include typography.desktop-copy-c3;
      color: globals.$senda-color-black-100;
      text-align: center
    };
  };
};

.about__images {
  @include mixins.flex-center;
  padding:0 globals.$padding-general-100;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 25dvw;
  position: relative;
  top: 80px;

  .empty__item {
    background-color: globals.$senda-color-black-100;
  };
  
  .about__images__item {
    @include mixins.flex-center;
    position: relative;
    width: 100%;
    height: 100%;
    min-width: 25dvw;
    overflow: hidden;

    @for $i from 1 through 4 {
      &:nth-child(#{$i}) {
        top: #{ ($i - 1) * -40 }px;
      };
    };
    
    img {
      display: flex;
      object-fit: cover;
    };
  };
};

.about__video {
  @include mixins.flex-center;
  width: 100%;
  height: 100%;
  position: relative;
  top: -80px;
  z-index: -1;
  
  video {
    display: flex;
    height: 100%;
    width: 100%;
    object-fit: cover;
    background-color: red
  };
};