@use "../../../../styles/_mixins.scss" as mixins;
@use "../../../../styles/_typography.scss" as typography;
@use "../../../../styles/_globals.scss" as globals;

.carousel {
  padding: globals.$padding-general-100;
  padding-bottom: calc(globals.$padding-general-100/2);

  .carousel__texts {
    @include mixins.flex-center;
    justify-content: space-between;
    width: 100%;

    .carousel__texts__heading {
      .carousel__texts__heading__title {
        @include typography.desktop-title-h4;
        color: globals.$senda-color-black-100;
        width: 24dvw;
      };
  
      .carousel__texts__heading__copy {
        max-width: 24dvw;
        @include typography.desktop-copy-c1;
        color: globals.$senda-color-black-100;
      };
    };

    .carousel__texts__navigation {
      display: flex;
      flex-direction: column;
      align-items: end;
    };

  };

  .carousel__images {
    @include mixins.flex-center;
  };

  .carousel__location {
    @include mixins.flex-center;
    gap: globals.$padding-general-025;
    height: 25dvw;
    padding: globals.$padding-general-050 0;
    
    .carousel__location__video__container {
      @include mixins.flex-center;
      height: 100%;
      width: 100%;
      align-items: end;
      
      .carousel__location__video__content {
        @include mixins.flex-center;
        height: 10dvw;
        width: 20dvw;
        // min-width: 20dvw;
        overflow: hidden;
        
        video {
          height: 100%;
          width: 100%;
          object-fit: cover;
          align-content:center;
        }
      };

    };

    .carousel__location__texts__container {
      @include mixins.flex-center;
      flex-direction: column;
      align-items: first baseline;
      justify-content: center;
      gap: globals.$gap-general-025;
      .carousel__location__container__main {
        @include typography.desktop-copy-c4;
        width: 85%;
        color: globals.$senda-color-black-100;
      };
      .carousel__location__container__copy {
        width: 45%;
        justify-self: flex-end;
        align-self: flex-end;
        @include typography.desktop-copy-c1;
        color: globals.$senda-color-black-100;
      };
    };
  };

  .carousel__itinerary {
    @include mixins.flex-center;
    // padding: 0 globals.$padding-general-0;
    gap: globals.$gap-general-050;
    justify-content: space-between;
    align-items: start;
  };

};