@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

// colors
  // brand
$senda-color-orange: #ff974c;
$senda-color-blue: #b0c0da;
  // background
$senda-color-white-50: hsla(0, 0%, 100%, 0.88);
$senda-color-white-100: #fff;
$senda-color-white-200: #f9f9f9;
$senda-color-white-300: #BFBFBF;
$senda-color-blue-100: #d9e2eb;
$senda-color-blue-000: #d9e2eb00;
  //texts
$senda-color-black-050: rgba(51, 51, 51, 50);
$senda-color-black-100: #333;

// spacing
$spacing-unit: 1rem;

$padding-general-006: 0.625rem;
$padding-general-008: 0.825rem;
$padding-general-010: 1rem;
$padding-general-012: 1.25rem;
$padding-general-025: 2.5rem;
$padding-general-050: 5rem;
// $padding-general-100: 6.25rem;
// $padding-general-100: 6.85rem;
$padding-general-100: 7rem;
$padding-general-120: 9rem;

$gap-general-005: 0.75rem;
$gap-general-010: 1rem;
$gap-general-025: 1.5rem;
$gap-general-050: 3rem;
$gap-general-075: 4.5rem;
$gap-general-100: 6rem;
$gap-general-200: 12rem;

// shapes
$rounded-010: 3px;

// typography
$font-family-main: 'Inter', sans-serif;

// Animations
$transition-basic-main: ease-in-out .75s all