@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

// colors
  // brand
$senda-color-orange: #ff974c;
$senda-color-blue: #b0c0da;
  // background
$senda-color-white-100: #fff;
$senda-color-white-200: #f9f9f9;
$senda-color-blue-100: #d9e2eb;
  //texts
$senda-color-black-050: rgba(51, 51, 51, 50);
$senda-color-black-100: #333;

// spacing
$spacing-unit: 1rem;

$padding-general-100: 6.25rem;

$gap-general-010: 1rem;
$gap-general-025: 1.5rem;
$gap-general-050: 3rem;
$gap-general-100: 6rem;
$gap-general-200: 12rem;

// typography
$font-family-main: 'Inter', sans-serif;