@forward "./_globals";
// @use "./_globals" as globals;
@forward "./variables";
@forward "./typography";

@mixin flex-center {
  display: flex;
  justify-items: center;
  align-items: center;
  justify-content: center;
};