@use "../../../styles/_mixins.scss" as mixins;
@use "../../../styles/_globals.scss" as globals;

.button-general {
  @include mixins.flex-center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  pointer-events: all;
  
  .btn {
    @include mixins.button-general;

    &.rounded-button {
      border-radius: 10rem;
      
      &.btn__icon {
        border-radius: calc(100dvw * 0.0106 + globals.$padding-general-010);
      };
    };

    &.squared-button {
      background-color: transparent;
      border: 1px solid globals.$senda-color-white-100;
      border-radius: 3px;
      color: globals.$senda-color-white-100;
      
      &.btn__icon {
        border-radius: calc(100dvw * 0.0106 + globals.$padding-general-010);
      };
    };

  };

  .btn__icon {
    @include mixins.flex-center;
    // padding: globals.$padding-general-010;
    padding: 0;
    position: relative;
    height: calc(100dvw * 0.0106 + globals.$padding-general-010);
    width: calc(100dvw * 0.0106 + globals.$padding-general-010);
    border-radius: calc(100dvw * 0.0106 + globals.$padding-general-010);

    img{
      display: flex;
      object-fit: scale-down;
      // object-position: center;
    };
  };

  .logo-icon {
    background-color: globals.$senda-color-black-100;
    border: none;
  };
};