@use "../styles/_mixins.scss" as mixins;
@use "../styles/_typography.scss" as typography;
@use "../styles/_globals.scss" as globals;

  .not-found {
    background-color: globals.$senda-color-white-200;
    height: 100dvh;
    position: relative;
    display: flex;
    overflow: hidden;

    .not-found__video__container {
      @include mixins.flex-center;
      align-items: center;
      justify-content: center;
      height: 100dvh;
      width: 100dvw;
      position: absolute;

      video {
        height: 100%;
        width: 100%;
        // width: auto;
        // z-index: 1;
        object-fit: cover;
        position: absolute;
        // top: -25%;
      };
    };

    .not-found__mountains {
      @include mixins.flex-center;
      align-items: end;
      width: 100%;
      height: 100%;
      overflow: hidden;
      object-fit: cover;
      position: absolute;
      bottom: 28dvh;
      pointer-events: none;
      // z-index: 2;

      img {
        position: absolute;
        scale: 1.0;
        bottom: -4dvw;
      }
      
      .blend-difference {
        mix-blend-mode: exclusion;
        // opacity: 0.5
      }
    };

    .not-found__copy {
      @include mixins.flex-center;
      flex-direction: column;
      z-index: 2;
      height: 30dvh;
      width: 100dvw;
      align-self: flex-end;
      background-color: globals.$senda-color-white-200;
      bottom: 0;

      .not-found__texts__p {
        @include typography.desktop-copy-c3;
        color: globals.$senda-color-white-300;
        align-self: flex-start;
        position: relative;
        left: 22dvw;
      };

      .not-found__copy__container {
        @include mixins.flex-center;
        justify-content: center;
        align-items: center;
        gap: globals.$gap-general-010;
        position: relative;
        left: 5dvw;

        button {
          .btn {
            border: 1px solid globals.$senda-color-white-300;
            color: globals.$senda-color-white-300
          }
        }

        .not-found__texts__p {
          @include typography.desktop-copy-c3;
          color: globals.$senda-color-black-100;
          left: 0;

        };

      };
    };
  };