@use "../styles/_mixins.scss" as mixins;
@use "../styles/_typography.scss" as typography;
@use "../styles/_globals.scss" as globals;

img {
  display: none
}

#home {
  @include mixins.flex-center;
  flex-direction: column;
};

.home__hero {
  @include mixins.flex-center;
  flex-direction: column;
  min-height: 130dvh;
  // padding: 0 10rem;
  position: relative;

  img {
    display: flex;
  }

  .home__hero__top {
    @include mixins.flex-center;
    height: 100%;
    min-height: 100svh;
    // width: 100%;
    padding: 0 10rem;
    position: relative;
    top: -15dvh;

    .home__hero__texts {
      @include mixins.flex-center;
      flex-direction: column;
      height: 100%;
  
      .home__hero__texts__preheading {
        @include typography.desktop-copy-c2;
        color: globals.$senda-color-white-100;
        width: 15rem;
        text-align: justify;
        align-self: flex-end;
        margin-right: 10rem
      };
  
      .home__hero__texts__heading {
        @include typography.desktop-title-h1;
        color: globals.$senda-color-white-100;
        text-align: center;
        mix-blend-mode: overlay;
      };
  
      .home__hero__texts__postheading {
        @include typography.desktop-copy-c2;
        color: globals.$senda-color-white-100;
        width: 25rem;
        text-align: justify;
        align-self: flex-start;
        margin-left: 3rem;
      };
    };
    
    .home__hero__square {
      position: absolute;
      width: 50%;
      height: 600px;
      max-height: 75%;
      background-color: globals.$senda-color-orange;
      left: 0;
      mix-blend-mode: soft-light;
      // z-index: -1;
    };
  }


  video {
    @include mixins.flex-center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
    object-fit: cover;
  };



  .home__hero__top-mountains {
    @include mixins.flex-center;
    align-items: end;
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
    position: absolute;
    bottom: 0;

    img {
      position: absolute;
    }

    :first-child {
      mix-blend-mode: exclusion;
    }
  };
};

.home__claim {
  width: 100%;
  height: 100%;
  background-color: globals.$senda-color-white-200;
};