@use "../styles/_mixins.scss" as mixins;
@use "../styles/_typography.scss" as typography;
@use "../styles/_globals.scss" as globals;

img {
  display: none
}

#home {
  @include mixins.flex-center;
  flex-direction: column;
};

.home__hero {
  @include mixins.flex-center;
  flex-direction: column;
  height: 100dvh;
  padding: 0 10rem;

  .home__hero__texts {
    @include mixins.flex-center;
    flex-direction: column;
    height: 100%;

    .home__hero__texts__preheading {
      @include typography.desktop-copy-c2;
      color: globals.$senda-color-white-100;
      width: 15rem;
      text-align: justify;
      align-self: flex-end;
      margin-right: 10rem
    };

    .home__hero__texts__heading {
      @include typography.desktop-title-h1;
      color: globals.$senda-color-white-100;
      text-align: center;
      mix-blend-mode: overlay;
    };

    .home__hero__texts__postheading {
      @include typography.desktop-copy-c2;
      color: globals.$senda-color-white-100;
      width: 25rem;
      text-align: justify;
      align-self: flex-start;
      margin-left: 3rem
    };
  };

  video {
    @include mixins.flex-center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
    object-fit: cover;
  };
};