@use "../styles/_mixins.scss" as mixins;
@use "../styles/_typography.scss" as typography;
@use "../styles/_globals.scss" as globals;

#home {
  @include mixins.flex-center;
  flex-direction: column;
};

.home__hero {
  @include mixins.flex-center;
  flex-direction: column;
  min-height: 130dvh;
  // padding: 0 10rem;
  position: relative;

  img {
    display: flex;
  }

  .home__hero__top {
    @include mixins.flex-center;
    height: 100%;
    min-height: 100svh;
    // width: 100%;
    padding: 0 10rem;
    position: relative;
    top: -15dvh;

    .home__hero__texts {
      @include mixins.flex-center;
      flex-direction: column;
      height: 100%;
  
      .home__hero__texts__preheading {
        @include typography.desktop-copy-c2;
        color: globals.$senda-color-white-100;
        width: 15rem;
        text-align: justify;
        align-self: flex-end;
        margin-right: 10rem
      };
  
      .home__hero__texts__heading {
        @include typography.desktop-title-h1;
        color: globals.$senda-color-white-100;
        text-align: center;
        mix-blend-mode: overlay;
      };
  
      .home__hero__texts__postheading {
        @include typography.desktop-copy-c2;
        color: globals.$senda-color-white-100;
        width: 25rem;
        text-align: justify;
        align-self: flex-start;
        margin-left: 3rem;
      };
    };
    
    .home__hero__square {
      position: absolute;
      width: 50%;
      height: 600px;
      max-height: 75%;
      background-color: globals.$senda-color-orange;
      left: 0;
      mix-blend-mode: soft-light;
      // z-index: -1;
    };
  }


  video {
    @include mixins.flex-center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
    object-fit: cover;
  };



  .home__hero__top-mountains {
    @include mixins.flex-center;
    align-items: end;
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
    position: absolute;
    bottom: 0;

    img {
      position: absolute;
      scale: 1.1;
    }

    :first-child {
      mix-blend-mode: exclusion;
    }
  };
};

.home__claim {
  position: relative;
  
  .home__claim__texts {
    @include mixins.flex-center;
    flex-direction: column;
    padding: globals.$padding-general-100 ;

    .home__claim__texts__coordinates {
      @include typography.desktop-title-h8;
      color: globals.$senda-color-black-100;
      position: absolute;
      left: globals.$padding-general-100;
      top: calc(globals.$padding-general-100 + 2rem);
    };

    .home__claim__texts__text {
      @include typography.desktop-copy-c3;
      color: globals.$senda-color-black-100;
      text-indent: 50%;
    };
  };
};

// Need to prepare the experiences

.home__about {
  @include mixins.flex-center;
  flex-direction: column;
  padding: globals.$padding-general-100 globals.$padding-general-100;
  background-color: globals.$senda-color-blue-100;
  gap: globals.$gap-general-200;

  .home__about__title {
    @include mixins.flex-center;
    @include typography.desktop-title-h3;
    color: globals.$senda-color-black-100;
    flex-direction: column;

    .home__about__title__heading-a {
      align-self: flex-start;
      width: 40%
    };

    .home__about__title__heading-b {
      align-self: flex-end;
      width: 65%;
    };
  };

  .home__about__founder {
    @include mixins.flex-center;
    align-items: end;
    gap: globals.$gap-general-010;
    justify-content: flex-end;

    .home__about__founder__text {
      @include typography.desktop-copy-c1;
      color: globals.$senda-color-black-100;
      text-align: end;
      text-align: justify;
      text-align-last: right;
      width: 25%;
      min-width: 250px;
    };

    .home__about__founder__picture {
      @include mixins.flex-center;
      height: 50dvh;
      width: 40dvh;
      min-width: 40dvh;
      position: relative;
      
      img {
        object-fit: cover;
        height: 100%;
        width: 100%
      }
    };
  };

  
};