@use "../styles/_mixins.scss" as mixins;
@use "../styles/_typography.scss" as typography;
@use "../styles/_globals.scss" as globals;

#home {
  @include mixins.flex-center;
  flex-direction: column;
  // background-color: globals.$senda-color-white-200;
};

.home__hero {
  @include mixins.flex-center;
  flex-direction: column;
  min-height: 130dvh;
  // padding: 0 10rem;
  position: relative;

  img {
    display: flex;
  }

  .home__hero__top {
    @include mixins.flex-center;
    height: 100%;
    min-height: 100svh;
    // width: 100%;
    padding: 0 10rem;
    position: relative;
    top: -15dvh;

    .home__hero__texts {
      @include mixins.flex-center;
      flex-direction: column;
      height: 100%;
  
      .home__hero__texts__preheading {
        @include typography.desktop-copy-c2;
        color: globals.$senda-color-white-100;
        width: 15rem;
        text-align: justify;
        align-self: flex-end;
        margin-right: 10rem
      };
  
      .home__hero__texts__heading {
        @include typography.desktop-title-h1;
        color: globals.$senda-color-white-100;
        text-align: center;
        mix-blend-mode: overlay;
      };
  
      .home__hero__texts__postheading {
        @include typography.desktop-copy-c2;
        color: globals.$senda-color-white-100;
        width: 25rem;
        text-align: justify;
        align-self: flex-start;
        margin-left: 3rem;
      };
    };
    
    .home__hero__square {
      position: absolute;
      width: 50%;
      height: 600px;
      max-height: 75%;
      background-color: globals.$senda-color-orange;
      left: 0;
      mix-blend-mode: soft-light;
      // z-index: -1;
    };
  }


  video {
    @include mixins.flex-center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
    object-fit: cover;
  };

  .home__hero__top-mountains {
    @include mixins.flex-center;
    align-items: end;
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
    position: absolute;
    bottom: -2;
    pointer-events: none;

    img {
      position: absolute;
      scale: 1.0;
    }

    :first-child {
      mix-blend-mode: exclusion;
    }
  };
};

.home__claim {
  position: relative;
  background-color: globals.$senda-color-white-200;
  padding-bottom: calc(globals.$padding-general-100 + 15dvw);
  
  .home__claim__texts {
    @include mixins.flex-center;
    flex-direction: column;
    padding: globals.$padding-general-100 ;

    .home__claim__texts__coordinates {
      @include typography.desktop-title-h8;
      color: globals.$senda-color-black-100;
      position: absolute;
      left: globals.$padding-general-100;
      top: calc(globals.$padding-general-100 + 2rem);
    };

    .home__claim__texts__text {
      @include typography.desktop-copy-c3;
      color: globals.$senda-color-black-100;
      text-indent: 50%;
    };
  };
};

// Need to prepare the experiences

.home__about {
  @include mixins.flex-center;
  flex-direction: column;
  padding: globals.$padding-general-100 globals.$padding-general-100;
  background-color: globals.$senda-color-blue-100;
  gap: globals.$gap-general-200;

  .home__about__title {
    @include mixins.flex-center;
    @include typography.desktop-title-h3;
    color: globals.$senda-color-black-100;
    flex-direction: column;

    .home__about__title__heading-a {
      align-self: flex-start;
      width: 40%
    };

    .home__about__title__heading-b {
      align-self: flex-end;
      width: 65%;
    };
  };

  .home__about__founder {
    @include mixins.flex-center;
    align-items: end;
    gap: globals.$gap-general-010;
    justify-content: flex-end;

    .home__about__founder__text {
      @include typography.desktop-copy-c1;
      color: globals.$senda-color-black-100;
      text-align: end;
      text-align: justify;
      text-align-last: right;
      width: 25%;
      min-width: 250px;
    };

    .home__about__founder__picture {
      @include mixins.flex-center;
      height: 50dvh;
      width: 40dvh;
      min-width: 40dvh;
      position: relative;
      
      img {
        object-fit: cover;
        height: 100%;
        width: 100%
      }
    };
  };
};

.home__partners {
  position: relative;
  width: 100%;
  // padding-bottom: globals.$padding-general-100;
  // overflow: hidden;

  .home__partners__top-mountains {
    position: absolute;
    // display: flex;
    // height: 100%;
    width: 100%;
    cursor: none;
    pointer-events: none;
    // overflow: hidden;
    overflow-x: hidden;

    img {
      scale: 1.2;
      object-fit: contain;
      object-position: top left;
    };
  };

  .home__partners__grid {
    padding: globals.$padding-general-100;
    padding-top: calc(globals.$padding-general-100*3);
    display: grid;
    grid-template: 
      "a . b c"
      ". d . ."
      "e . f ."
      ". . . g";
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr);
    gap: globals.$gap-general-025;

  .home__partners__grid-item {
    // height: calc(18dvw/3 * 1.75);
    // width: 18dvw;
    // border: 1px solid red;
    @include mixins.flex-center;
    overflow: hidden;
    position: relative;
    // background-color: globals.$senda-color-white-100;
    border-radius: globals.$rounded-010;
    // padding: globals.$padding-general-010;
  };

  #partner_0 {
    grid-area: a;
  };

  #partner_1 {
    grid-area: d;
  };

  #partner_2 {
    grid-area: c;
  };

  #partner_3 {
    grid-area: f;
  };

  #partner_4 {
    grid-area: g;
  };

  .home__partners__title {
    grid-area: b;
    @include typography.desktop-copy-c3;
    color: globals.$senda-color-black-100
  };

  .home__partners__copy {
    grid-area: e;
    @include typography.desktop-copy-c1;
    color: globals.$senda-color-black-100;
    text-align: justify;
    text-align-last: left;
  };

  };
};
