@use "../../../styles/_mixins.scss" as mixins;
@use "../../../styles/_typography.scss" as typography;
@use "../../../styles/_globals.scss" as globals;

nav {
  position: fixed;
  z-index: 99;
  width: 100%;
  height: 100%;
  pointer-events: none;

  
  .nav__permanent {
    @include mixins.flex-center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    position: absolute;
    
    .nav__permanent__btn {
      .btn{
        min-width: 80px;
        padding: globals.$padding-general-006 globals.$padding-general-006;
      };
    };
  };
  
  .nav__toggle {
    @include mixins.flex-center;
    justify-content: space-between;
    height: 100dvh;
    width: 100dvw;
    background-color: globals.$senda-color-white-200;
    
    .nav__toggle__half {
      @include mixins.flex-center;
      flex-direction: column;
      position: relative;
      height: 100%;
      width: 100%;
      gap: globals.$gap-general-100;

      
      .nav__toggle__half__image {
        position: relative;
        height: 100%;
        width: 100%;
        
        img{
          object-fit: cover;
        };
      };      
    };
    
    .nav__toggle__links {
      .nav__toggle__half__side {
        @include mixins.flex-center;
        align-items: start;
        flex-direction: column;
        justify-content: start;
        gap: globals.$gap-general-050;
        width: 100%;
        height: 50%;

        .nav__toggle__half__side__navigation {
          @include mixins.flex-center;
          align-items: start;
          gap: globals.$gap-general-025;
        };
      };

      .nav__toggle__contact {
        @include mixins.flex-center;
        gap: globals.$gap-general-010;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: end;
        justify-content: space-between;
      };
    };


  };

  .nav__toggle__half__side__links {
    @include typography.desktop-copy-c4;
    text-decoration: none;
    color: globals.$senda-color-black-050;
    text-transform: none;
    
    a {
      text-decoration: none;
      color: globals.$senda-color-black-050;
      text-transform: none;
    };
  }
};