@use "../../../styles/_mixins.scss" as mixins;
@use "../../../styles/_typography.scss" as typography;
@use "../../../styles/_globals.scss" as globals;

nav {
  position: fixed;
  z-index: 99;
  width: 100%;
  height: 100%;

  .nav__permanent {
    @include mixins.flex-center;
    justify-content: space-between;
    width: 100%;
    position: relative;
    top: 50%;
  };
};