@use "../../../../styles/_mixins.scss" as mixins;
@use "../../../../styles/_typography.scss" as typography;
@use "../../../../styles/_globals.scss" as globals;

.home__partners__brand {
  @include mixins.flex-center;
  position: relative;

  .home__partners__brand__name {
    @include typography.desktop-copy-c3;
    display: none;
  };

  .home__partners__brand__logo {
    @include mixins.flex-center;
    width: 75%;
    max-width: 250px;
    height: 55%;
    min-height: 75px;
    min-width: 150px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    pointer-events: none;

    img {
      display: flex;
      object-fit:contain;
      object-position: center;
    };
  };

  .home__partners__brand__image {
    @include mixins.flex-center;
    width: 0%;
    height: 0%;
    position: absolute;
    left: 0;
    bottom: 0;
    // z-index: 0;
    // scale: 0;
    scale: 1;
    pointer-events: none;
    border-radius: globals.$rounded-010;
    overflow: hidden;

    img {
      display: flex;
      object-fit: cover;
      // object-position: bottom right;
      object-position: center;
    };
  }
};