@use "../../../../styles/_mixins.scss" as mixins;
@use "../../../../styles/_typography.scss" as typography;
@use "../../../../styles/_globals.scss" as globals;

#faq {
  @include mixins.flex-center;
  padding: globals.$padding-general-050;
  background-color: globals.$senda-color-white-200;
  
  .faq__container{
    @include mixins.flex-center;
    flex-direction: column;
    align-items: flex-start;
    background-color: globals.$senda-color-white-100;
    // position: relative;
    // padding: globals.$padding-general-010;
    
    .faq__item {
      padding: globals.$padding-general-010;
      display: flex;
      position: relative;
      flex-direction: column;
      width: calc(100% - 2 * globals.$padding-general-010);
      border-bottom: 1px solid globals.$senda-color-black-050;
      gap: globals.$gap-general-010;

      .faq__item__question {
        @include typography.desktop-title-h5;
        color: globals.$senda-color-black-100;
        max-width: 75%
      };
      
      .faq__item__answer {
        @include typography.desktop-copy-c1;
        color: globals.$senda-color-black-100;
        max-width: 95%
      };

      .faq__item__arrow {
        @include mixins.flex-center;
        position: absolute;
        overflow: hidden;
        top: globals.$padding-general-010;
        right: globals.$padding-general-010;
        height: 2dvw;
        width: 2dvw;
        rotate: 90deg;
        cursor: pointer;

        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        };
      };
    };
  };
};